@media screen and (min-width: 700px) {
  .logo-header {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .logo-header {
    width: 300px;
  }
  
  header {
    display: flex;
    justify-content: center;
  }
}
