div {
  height: 100%;
}
.logo {
  max-width: 250px;
}
.navbar {
  position: fixed;
}
.sidebar-icon {
  margin-top: 14px;
  text-align: center;
  height: 40px;
  width: 40px;
}
.sidebar {
  width: 250px;
  background: #042331;
  font-size: 22px;
  color: black;
  line-height: 70px;
  text-align: center;
  background: #fc6852;
  user-select: none;
}
.sidebar ul li a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  transition: 0.4s;
}
.sidebar ul li:hover a {
  padding-left: 50px;
}
.disable {
  display: none;
}
@media (max-width: 700px) {
  .navbar {
    left: -195px;
  }
}
