.loading-element {
  text-align: center;
  margin: 20px;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .load-pokeball-mini {
    width: 50px;
    animation: spin infinite 0.5s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
