.loading-screen {
  text-align: center;

  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .load-pokeball {
    width: 100px;
    animation: spin infinite 1s linear;
    display: flex;
    flex-direction: row;
    padding: 25px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
