:root {
  --bg-color: #1e1e1e;
  --card-bg-color: rgba(255, 255, 255, 0.924);
  --card-shadow-color: rgba(0, 0, 0, 0.7);
  --primary-color: #acacac;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
.card {
  background-color: var(--card-bg-color);
  width: 326px;
  border-radius: 16px;
  box-shadow: 2px 2px 4px var(--card-shadow-color);
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  margin-left: 0.8em;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
}

.card-body-img {
  width: 250px;
  height: 250px;
  margin: 10px;
  object-fit: cover;
  margin-left: 37px;
  border-radius: 10px;
}

.card-body-title {
  margin-top: 1.5rem;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #1e1e1e;
}

.card-body-text {
  color: rgba(0, 0, 0, 0.76);
  font-size: 1em;
  margin-top: 0;
  font-weight: bold;
}

.card-footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card-footer-social {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-footer-social p,
h3 {
  font-size: 1em;
  padding: 5px;
  color: #181818d0;
  font-weight: bold;
}
