@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  list-style: none;
  text-decoration: none;
}

@media (min-width: 700px) {
  .main {
    margin-left: 250px;
  }
}

.pokemon-police {
  font-family: Pokemon;
  letter-spacing: 0.2em;
}

body {
  background-color: #eaeaea;
  background: radial-gradient(
      circle,
      transparent 20%,
      #eaeaea 20%,
      #eaeaea 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #eaeaea 20%,
        #eaeaea 80%,
        transparent 80%,
        transparent
      )
      97.5px 97.5px,
    linear-gradient(
        #c7c7c7 7.800000000000001px,
        transparent 7.800000000000001px
      )
      0 -3.9000000000000004px,
    linear-gradient(
        90deg,
        #c7c7c7 7.800000000000001px,
        #eaeaea 7.800000000000001px
      ) -3.9000000000000004px 0;
  background-size: 195px 195px, 195px 195px, 97.5px 97.5px, 97.5px 97.5px;
  width: 100%;
}
