@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  list-style: none;
  text-decoration: none;
}

.navbar {
  position: fixed;
}

.main {
  width: 500px;
  margin: auto;
}

.app {
}
.pokedex-block {
  border: solid 1px black;
  margin: 25px;
  border-radius: 25px;
}
